
.UIFNavbase{
    display: block;
    background-color: rgba(255, 255, 255, 1);

}
.UIFNav{
    height: 65px;
    width: 1279px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px solid #e6e6e6;
}

.UIFNavlogo{
    height:25px ;
    width: 156px;
    background: url('./images/medium-logo.png') no-repeat;
    box-sizing: border-box;
    display: block;
    flex: .9 0 auto;
    cursor: pointer;
    margin: auto;
}
.postsection{
    height: 1000px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    
}
.middlepostsection{
    height: inherit;
    width: 63%;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    margin: 0px 68px;

}
.mainheading{
    height: auto;
    width: 100%;
    line-height:60px ;
    font-weight: ;
    font-size: 48px;
    color: rgba(41, 41, 41, 1);
    letter-spacing: .1rem;
}
.mainheaderimage{
    height: 510px;
    width: 100%;
    max-width: 550px;
    max-width: 100%;
    background-color: black;
    margin-top: 26px;
}